@font-face {
  font-family: "Mulish";
  src: url("../../../assets/fonts/Mulish-ExtraLight.woff2") format("woff2");
  font-weight: 200;
}

@font-face {
  font-family: "Mulish";
  src: url("../../../assets/fonts/Mulish-Light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
    font-family: "Mulish";
    src: url("../../../assets/fonts/Mulish-Regular.woff2") format("woff2");
    font-weight: 400;
  }

@font-face {
    font-family: "Mulish";
    src: url("../../../assets/fonts/Mulish-Medium.woff2") format("woff2");
    font-weight: 500;
  }

  @font-face {
    font-family: "Mulish";
    src: url("../../../assets/fonts/Mulish-SemiBold.woff2") format("woff2");
    font-weight: 600;
  }

  @font-face {
    font-family: "Mulish";
    src: url("../../../assets/fonts/Mulish-Bold.woff2") format("woff2");
    font-weight: 700;
  }

  @font-face {
    font-family: "Mulish";
    src: url("../../../assets/fonts/Mulish-ExtraBold.woff2") format("woff2");
    font-weight: 800;
  }

  @font-face {
    font-family: "Mulish";
    src: url("../../../assets/fonts/Mulish-Black.woff2") format("woff2");
    font-weight: 900;
  }
